<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./weird/functions.ejs') %>
<% let rightNow = new Date() %>

<%- include('./partials/nav.ejs') %>

<main class="container-xxl pt-4 pt-md-5">
    <section class="text-center">
        <h1 class="display-1 mb-4 mb-lg-5">Next Thorns Game</h1>
        <div class="row justify-content-center text-center">
            <div class="col-auto">
                <div class="card shadow mb-4 mb-lg-5">
                    <div class="card-body px-5">
                        <h2 class="text-thorns-red mb-0">
                            <% if (dateStripTime(game.date) === dateStripTime(rightNow)) { %>
                                <span class="d-block display-14 text-uppercase text-dope-purple">Today</span>
                            <% } else { %>
                                <span class="d-block display-1"><%= justDay(game.date) %></span>
                            <% } %>
                            <span class="d-block display-12"><%= justMonthDate(game.date) %></span>
                            <span class="d-block display-14"><%= justYear(game.date) %></span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('./partials/footer.ejs') %>

</body>
</html>
