<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>
<%- include('./weird/functions.ejs') %>

<%- include('./partials/nav.ejs') %>

<main class="container-xxl pt-4 pt-md-5">
    <section class="text-center">
        <h1 class="display-1 mb-4 mb-lg-5">Next Thorns Game</h1>
        <div class="row justify-content-center text-center">
            <div class="col-auto">
                <div class="card shadow mb-4 mb-lg-5">
                    <div class="card-body px-5">
                        <% /* %>
                        <!-- <h2 class="text-thorns-red mb-0">
                            <span class="d-block display-1"><%= gameDateDay %></span>
                            <span class="d-block display-12"><%= gameDateMonth %> <%= game.date.getDate() %><%= gameDateOrdinal %></span>
                            <span class="d-block display-14"><%= prettyTime(gameTime) %></span>
                        </h2> -->
                        <% */ %>
                        <p class="mb-0">Game Date</p>
                        <h2 class="text-thorns-red">
                            <%= gameDate %>
                        </h2>
                        <p class="mb-0">.toLocaleString()</p>
                        <h2 class="text-thorns-red mb-0">
                            <%= gameDate.toLocaleString() %>
                        </h2>
                        <p class="mb-0">.getTimezoneOffset()</p>
                        <h2 class="text-thorns-red mb-0">
                            <%= gameDate.getTimezoneOffset() %>
                        </h2>
                        <p class="mb-0">.toUTCString()</p>
                        <h2 class="text-thorns-red mb-0">
                            <%= gameDate.toUTCString() %>
                        </h2>
                        <p class="mb-0">Function to set local time zone</p>
                        <h2 class="text-thorns-red mb-0">
                            <%= prettyDate(gameDate) %>
                        </h2>
                        <p class="mb-0">Function to set local Day</p>
                        <h2 class="text-thorns-red mb-0">
                            <%= prettyDay(gameDate) %>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<%- include('./partials/footer.ejs') %>

</body>
</html>
